.weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.weather .location,
.weather .temperature {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.weather .temperature {
  flex-direction: column;
}
.weather .degree-section {
  display: flex;
  align-items: center;
}
.weather .degree-section span {
  margin: 10px;
  font-size: 40px;
}
.weather .degree-section h2 {
  font-size: 40px;
}
