.icon-start {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(180deg, #40DDFF -12.5%, rgba(97, 23, 255, 0.38) 87.5%);
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        height: 7px;
        width: 7px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        border: 1px solid white;
       
        background-color: #45EDCF;
    }
   
}