.icon-start {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(180deg, #40DDFF -12.5%, rgba(97, 23, 255, 0.38) 87.5%);
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        height: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        border: 1px solid white;
        width: 10px;
        background-color: #45EDCF;
    }
   
}